@page
@model course.Pages.IndexModel




<html>
<head>
    <title>Index page</title>
    <link rel="stylesheet" href="/Index/file.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/Index/script.js"></script>
</head>
<body>

   

    <section class="maincontent">
        <section class=leftcontent>
            <section class="topcontent">
                <h2>What are we about?</h2>
                <p>
                    Here at HealthyNotts we are trying to encourage people to become more active by providing products and services for a healthier lifestyle.
                    On this website you will find helpful information to improve your health and find new ways to be more active ranging from products to special events.
                    You can purchase the proucts you like the look of but if you want the recipies and the private events you will need to subscribe through our form where you will be allowed to access the items.
                </p>
            </section>

            <section class="bottomcontent">
                <h2>Activities</h2>
                <ul>
                    <li>Marathon Events</li>
                    <li>New healthy recipies</li>
                    <li>Performance enhancing products</li>
                    <li>New sport updates</li>
                </ul>

            </section>
            <section class="fitness">
                <img src="/Index/fitnesslogo.png" alt="sports">
            </section>
        </section>
        <section class="rightcontent">

            <article class="Topbar">


                <h3>Diet</h3>
                <div class="zoomin">
                    <img class="image__img" src="/Index/Healthymeals.jpeg" alt="Bricks">
                </div>
                <p>This is a picture of one of our healhty foods we offer</p>


            </article>
            <article class="middlebar">
                <h3>Events</h3>
                <div class="zoomin">
                    <img class="image__img" src="/Index/Events.jpg" alt="runner">
                </div>
                <p>This is a picture of one of our marathon events that take place in nottingham every year where you are also able to raise money for a charity of your choice.</p>

            </article>
            <article class="bottombar">

                <h3>Products</h3>
                <div class="zoomin">
                    <img class="image__img" src="/Index/products.jpg" alt="product">
                </div>
                <p>This is a product that we use for athletes who need to keep electrolyte levels stable and high when they are undergoing intense excerise.</p>

            </article>






        </section>

    </section>



</body>


</html>