@page
@model course.Pages.Meals
@{
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Meals/meals.css">
    <script defer src="/Meals/meals.js"></script>
    <title>meals</title>
</head>
    <body>
    <section class="maincontent">


        <section class="intro">
            <p>Welcome to the meals page on this page you will find helpful information on what to eat to be healthier and how to make these meals. Diet is a key factor to being healthy thats why we are helping you out by giving you the recipes to use yourself so that you can make healthy food easily.</p>
        </section>




        <section class="centercontent">

            <div class="flex-container">
                <div>
                    <img class="chicken" id="bar" src="/Images/chicken-and-green-beans-recipe4.jpg">
                    <p> recipe Chicken and beans:</p><hr><ol>
                        <li>3kg of chicken and any amount of kg for green beans above .5 Kg.</li>
                        <li>heat pan up for 5 minutes then add cooking oil.</li>
                        <li>place the chicken in pan for 10 minutes then gradually add beans</li>
                        <li>fry for 15 more minutes then turn the heat off.</li>
                    </ol><hr>
                </div>
                <div>
                    <img class="salmon" id="drink" src="/Images/healthy-meal-prep-dinner-recipes.webp">
                    <p>Recipe for salmon and potato:</p>
                    <hr>
                    <ol>
                        <li>Wash potato and cut into ball shapes</li>
                        <li>Prepare salmon by adding seasoing until top of salmon is covered up.</li>
                        <li>Put salmon in oven and cook for 15 minutes</li>
                        <li>Add potatoes into a dish with oil and place in oven for 10 minutes.</li>

                    </ol>
                    <hr>
                </div>

                <div>
                    <img class="salad" id="prod" src="/Images/healthy-recipes-that-taste-good.webp">
                    <p>Recipe for Chicken Salad:</p>
                    <hr>
                    <ol>
                        <li>2Kg of chicken cut into small slices</li>
                        <li>A packet of salad that you should wash then dry</li>
                        <li>Place cut chicken pieces in the oven for 15-20 minutes unil cooked</li>
                        <li>Place chicken in the salad and mix in so that the chicken is spread out around the meal.</li>

                    </ol>
                    <hr>
                </div>

            </div>


        </section>
    </section>
</body>
    
</html>