
body{
    color:black;
    background-color:  white;
    min-width: 768px;
    width: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
   

}

.update{
    float:left;
    margin-left:10%;
    margin-right: 50%;
}

    .flex-container > div {
        
        margin-top: 3%;
        border: solid black 1px;
        justify-content: center;
        padding: 5px;
        background-color: #FFFFF9;
        border-radius: 2px;
        height:600px;
        flex:33.3%;
    }

.topleft{
    position: absolute;
    right: 20%;
    bottom: 20%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-130%, -400%);
    text-align: center;
    
}

.customize{
    float: left;
    width: 11%;
    margin-top: 25px;
    display: inline;
    background-color:gray;
    

    

  }

  .setcustom{
    color: #000;
    display:inline;
    margin-left: 10px;
    margin-top: 10px;

  }

  .resetcolor{
    color:green;
    display: inline;
    font-size: 30px;
    margin-left: 10px;
  }

  

  .homeimg{
    
    width: 100%;
      
     height: auto;

     float: right;

     margin-bottom: 2%;

     margin-top: auto;

     
     
     
     
 }
 @media screen and (max-width:620px){
  .buttons,.intro,.flex-container,header,footer,.maincontent{width: 100%;
      
 }
 
 .intro{
  width: 20%;
 }
}

 @media screen and (max-width:768px){
  .intro,.flex-container,header,footer,.maincontent{width: 100%;
 }

 
}

.pimg{

    width: 150px;
    height: auto;
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom:10%;
   
}

.drink{
    width: 50px;
    height: auto;
    margin-top: 20%;
    margin-left: 8% ;
}

.energybar{
    width:150px;
    height: auto;
    margin-top:30% ;
    margin-left:  8%;

    margin-bottom: 10%;
}

.middle{
    margin-top: auto;
    margin-right: auto;
    
}

.maincontent{
    width: 80%;
    padding: 10px;
    overflow: hidden;
    color:black;
    background-color: white;
    margin: 0 auto;
    margin-top: 2%;
    border : 2px solid black;
    border-radius: 5px;
    align-items:center;

  }

  

.navbar{
    background-color: black;
    font-size: 1.1434em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 20px auto;

    border-radius: 5px;
    display: inline;
    text-align: center;
    
}

.increfont{
   
    font-size: 30px;
  
    


}

.decre{
    font-size: 12px ;
}

.resetfont{
    font-size: h4;
}

.h1{
    margin: 5px;
    color: white;
    padding: 10px;
    font-size: 30px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    border: 5px solid transparent;
    

}


.topnav {
    overflow: hidden;
    background-color: #494d5f;
    
    float: right;
   
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: rgb(128, 0, 128);
    color: white;
  }

  footer{

    background-color: #494d5f;
    text-align: center;
    margin: 5px;
    color: white;
    line-height: normal;
    padding: 5px;
    border: #000;
    border-radius: 5px;



  }

  .intro{
    background-color: #FFFFF9;
    border: solid black 2px;
    margin: 5px;
    padding: 5px;
    font-size: large;
  }

  .sticky{
    position: fixed;
    top:0;
    width: 100%;
  }


  .whitebackground{
    color:white;
    display: inline;
    font-size: 30px;
    margin-left:10px;
}

.blackcolor{
    color:black;
    display:inline;
    font-size: 30px;
    margin-left: 10px;


}

.newback{
    margin: 5px;
    color: black;
    padding: 10px;
    font-size: 2em;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border: 5px solid transparent;
    
}





.welcome{
  background-color: black;
  color: white;
  text-align: center;

}
